
*.bin
*.lock
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
